nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #202024;
    
}

.logo_container{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
}



.navigation{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navigation a{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

.navigation a li{
    list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    background-color: #FFF;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .navigation{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .navigation{
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 35%;
        top: 8vh;
        background-color: #202024;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease-in;
    }
    .navigation li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}



