nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;

    
}

.logo_container{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1.4em;
}



.navigation{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#nav{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 1em;
}


.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    background-color: #FFF;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .navigation{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    

    .logo_container{
        display: none;
    }

    #nav{
        font-size: 0.8em;
    }


    .navigation{
        width: 100%;
    }
}



