.header{
    height: 60px;
    width: 100%;
    background-color: #202024;
    display: block;
}
.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}


.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 16px;
}