.Homecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin-top: 30px;
}

.home_container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.bemvindo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5vw;
}

.rank_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 50%;
    border-radius: 10px;
    background-color: #202024;
    padding: 10px;
    letter-spacing: 3px;
}

.rank {
    width: 50%;
    height: 100%;
    background-color: #202024;
    margin-top: 20px;
    border-radius: 10px;
}


@media screen and (max-width: 720px){
    
    .rank{
        width: 20em;
    }

    .title{
        width: 20em;
    }

    .bemvindo_container p{
        display: none;
    }
    
}